{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Edit Profile{% else %}Create Profile{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">{% if form.instance.pk %}Edit Profile{% else %}Create Profile{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.instance.photo %}
            <div class="mb-3">
                <img src="{{ form.instance.photo.url }}" alt="Profile Photo" class="img-thumbnail" style="max-width: 200px;">
            </div>
        {% else %}
            <div class="mb-3">
                <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Photo" class="img-thumbnail" style="max-width: 200px;">
            </div>
        {% endif %}


        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Profile</button>
    </form>
</div>
{% endblock %}
