@font-face {
  font-family: 'Noto Sans JP';
  src: url('/static/fonts/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
